body{
	padding-bottom: 300px;
	overflow-x: hidden;
}
header{
	position: fixed;
	width: 100%;
	background-color: #fff;
	height: 180px;
	z-index:1000;
	padding: 2em 0;

}
.title{
	text-align: center;
	font-family:'Lato';
	font-size: 3rem;
	color: $black;
	margin: 0 auto;
}
.sub-title{
	font-family:'Lato';
	font-weight: 300;
	font-size: 1.3rem;
	text-align: center;
	margin: 0 auto;
	color: $grey;
	span{
		color: $black;
		font-weight: 500;
		transition: color 0.3s ease;
	}

}
.color-pallete{
	font-family: 'Lato';
	font-size: 1.5rem;
	color:$black;
}
.colour-container{
	padding-top: 180px;
}
.col-colour{
	margin-bottom: 3em;
	position: relative;
	padding: 0;

}
.blast{
	display: block;
	position: absolute;
	margin-left: 50%;
	margin-top : -50%;
	transform: translate(-50%,-50%);
	border-radius:50%;
	animation-name: blast;
    animation-duration: 1s;
    pointer-events: none;
    z-index:1001;
}
.colour{
	display: block;
	margin: 0 auto;
	width: 80px;
	height: 80px;
	border-radius:50%;
	-webkit-box-shadow: 10px 13px 24px -5px rgba(0,0,0,0.2);
	-moz-box-shadow: 10px 13px 24px -5px rgba(0,0,0,0.2);
	box-shadow: 10px 13px 24px -5px rgba(0,0,0,0.2);
	cursor: pointer;

	&.c-alizarin{
		background-color: $alizarin;
	}
	&.c-amethyst{
		background-color: $amethyst;
	}
	&.c-asbestos{
		background-color: $asbestos;
	}
	&.c-belize-hole{
		background-color: $belize-hole;
	}
	&.c-carrot{
		background-color: $carrot;
	}
	&.c-clouds{
		background-color: $clouds;
	}
	&.c-concrete{
		background-color: $concrete;
	}
	&.c-emerald{
		background-color: $emerald;
	}
	&.c-green-sea{
		background-color: $green-sea;
	}
	&.c-midnight-blue{
		background-color: $midnight-blue;
	}
	&.c-nephritis{
		background-color: $nephritis;
	}
	&.c-orange{
		background-color: $orange;
	}
	&.c-peter-river{
		background-color: $peter-river;
	}
	&.c-pomegranade{
		background-color: $pomegranade;
	}
	&.c-pumpkin{
		background-color: $pumpkin;
	}
	&.c-silver{
		background-color: $silver;
	}
	&.c-sunflower{
		background-color: $sunflower;
	}
	&.c-turquise{
		background-color: $turquoise;
	}
	&.c-wet-asphalt{
		background-color: $wet-asphalt;
	}
	&.c-wisteria{
		background-color: $wisteria;
	}

	&.c-plum{
		background-color: $plum;
	}
	&.c-seance{
		background-color: $seance;
	}
	&.c-medium-purple{
		background-color: $medium-purple;
	}
	&.c-light-wisteria{
		background-color: $light-wisteria;
	}

	&.c-new-york-pink{
		background-color: $new-york-pink;
	}
	&.c-red{
		background-color: $red;
	}
	&.c-sunglo{
		background-color: $sunglo;
	}
	&.c-thunderbird{
		background-color: $thunderbird;
	}
	&.c-old-brick{
		background-color: $old-brick;
	}
	&.c-flamingo{
		background-color: $flamingo;
	}
	&.c-valencia{
		background-color: $valencia;
	}
	&.c-tall-poppy{
		background-color: $tall-poppy;
	}
	&.c-monza{
		background-color: $monza;
	}
	&.c-cinnabar{
		background-color: $cinnabar;
	}
	&.c-tahiti-gold{
		background-color: $tahiti-gold;
	}
	&.c-casablanca{
		background-color: $casablanca;
	}
	&.c-crusta{
		background-color: $crusta;
	}
	&.c-jaffa{
		background-color: $jaffa;
	}
	&.c-lightning-yellow{
		background-color: $lightning-yellow;
	}
	&.c-saffron-light{
		background-color: $saffron-light;
	}

	&.c-ecstasy{
		background-color: $ecstasy;
	}
	&.c-ripe-lemon{
		background-color: $ripe-lemon;
	}
	&.c-saffron{
		background-color: $saffron;
	}

	&.c-fire-bush{
		background-color: $fire-bush;
	}

	&.c-downy{
		background-color: $downy;
	}
	&.c-fire-bush{
		background-color: $fire-bush;
	}
	&.c-light-sea{
		background-color: $light-sea;
	}
	&.c-medium-aquamarine{
		background-color: $medium-aquamarine;
	}
	&.c-observatory{
		background-color: $observatory;
	}
	&.c-madang{
		background-color: $madang;
	}
	&.c-riptide{
		background-color: $riptide;
	}
	&.c-green-haze{
		background-color: $green-haze;
	}
	&.c-jungle-green{
		background-color: $jungle-green;
	}
	&.c-aquamarine{
		background-color: $aquamarine;
	}
	&.c-ocean-green{
		background-color: $ocean-green;
	}
	&.c-jade{
		background-color: $jade;
	}
	&.c-salem{
		background-color: $salem;
	}
	&.c-eucalyptus{
		background-color: $eucalyptus;
	}


}
.colour-title, .colour-hex{
	font-family: 'Lato';
	text-align: center;
}
.colour-title{
	font-size: 1.2rem;
	font-weight: 700;
	margin: 1em auto 0;
	color: $black;
}
.colour-hex{
	font-size: 1rem;
	font-weight: 300;
	margin: 0;
}

@-webkit-keyframes blast {
	0%{ 
		opacity:0.9;
		width:50px;
		height: 50px;

	}
	100%{ 
		opacity:0;
		width: 1000px;
		height: 1000px;
	}
}
@-o-keyframes blast {
	0%{ 
		opacity:0.9;
		width:50px;
		height: 50px;

	}
	100%{ 
		opacity:0;
		width: 1000px;
		height: 1000px;
	}
}
@-moz-keyframes blast {
	0%{ 
		opacity:0.9;
		width:50px;
		height: 50px;

	}
	100%{ 
		opacity:0;
		width: 1000px;
		height: 1000px;
	}
}
@keyframes blast {
	0%{ 
		opacity:0.9;
		width:50px;
		height: 50px;

	}
	100%{ 
		opacity:0;
		width: 1000px;
		height: 1000px;
	}
}