// ------------------------
// VARS

$black: #222;
$grey: #444;



$alizarin: #E74C3C;
$amethyst: #9B59B6;
$asbestos: #7F8C8D;
$belize-hole: #2980B9;
$carrot: #E67E22;
$clouds: #ECF0F1;
$concrete: #95A5A6;
$emerald: #2ECC71; 
$green-sea: #16A085;
$midnight-blue: #2C3E50;
$nephritis: #27AE60;
$orange: #F39C12;
$peter-river: #3498DB;
$pomegranade: #C0392B;
$pumpkin: #D35400;
$silver: #BDC3C7;
$sunflower: #F1C40F;
$turquoise: #1ABC9C;
$wet-asphalt: #34495E;
$wisteria: #8E44AD;

$plum: #913D88;
$seance: #9A12B3;
$medium-purple: #BF55EC;
$light-wisteria: #BE90D4;
$studio: #8E44AD;
$new-york-pink: #E08283;
$red: #ff0000;
$sunglo: #E26A6A;
$thunderbird: #D91E18;
$old-brick: #96281B;
$flamingo: #EF4836;
$valencia: #D64541;
$tall-poppy: #C0392B;
$monza: #CF000F;
$cinnabar: #E74C3C;
$tahiti-gold: #E87E04;
$casablanca: #F4B350;
$crusta: #F2784B;
