// ------------------------
// VARS

$black: #222;
$grey: #444;



$alizarin: #E74C3C;
$amethyst: #9B59B6;
$asbestos: #7F8C8D;
$belize-hole: #2980B9;
$carrot: #E67E22;
$clouds: #ECF0F1;
$concrete: #95A5A6;
$emerald: #2ECC71; 
$green-sea: #16A085;
$midnight-blue: #2C3E50;
$nephritis: #27AE60;
$orange: #F39C12;
$peter-river: #3498DB;
$pomegranade: #C0392B;
$pumpkin: #D35400;
$silver: #BDC3C7;
$sunflower: #F1C40F;
$turquoise: #1ABC9C;
$wet-asphalt: #34495E;
$wisteria: #8E44AD;
